/* Reset lại cơ bản*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: #333;
    background-color: #f4f6fa;
    line-height: 1.6;
}
/* Phần header */
.header-dkdn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 15px;
    background-color: #015936;
    color: white;
    font-size: 14px;
}

.header-dkdn .welcome {
    margin: 0;
}

.header-dkdn .dangki-dangnhap {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header-dkdn .dangki-dangnhap a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.tendangnhap {
    padding: 4px 10px !important; /* Giảm độ to của nút */
    font-size: 14px !important; /* Chữ vừa phải */
    line-height: 1 !important; /* Giảm chiều cao */
    border-radius: 6px !important; /* Bo nhẹ cho đẹp */
    color: #fff !important;
    text-decoration: none;
}

.tendangxuat .dropdown-item {
    text-decoration: none;
    font-weight: 500;
    background-color: #00994c;
}
.tendangxuat .dropdown-item:hover {
    text-decoration: none;
    font-weight: 500;
    background-color: #00ba5d;
}
.header-dkdn .dangki-dangnhap a:hover {
    text-decoration: underline;
}

.header-dkdn span {
    color: #ffffff;
}
.hr-hd {
    margin: 0px;
    color: white;
}
/*  */
.header {
    background-color: #015936;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 0;
}
/* Logo */
.logo img {
    max-height: 55px;
}
/* Tìm kiếm */
.search-box {
    flex: 1;
    max-width: 550px;
    position: relative;
}
.search-box input {
    width: 100%;
    padding: 10px 45px 10px 15px;
    border: none;
    border-radius: 25px;
    outline: none;
}
.search-box button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    color: #02461c;
}
/* Hotline */
.right-box {
    display: flex;
    align-items: center;
    gap: 18px;
}
.hotline-box-head {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 5px;
}
.hotline-box-head i {
    font-size: 24px;
    color: white;
}
.hotline-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}
.hotline-text .title {
    font-weight: 700;
    font-size: 16px;
    color: white;
}
.hotline-text .number {
    font-size: 15px;
    color: #ffffff;
}
/* Giỏ hàng*/
.GioHang {
    width: 45px;
    height: 45px;
    background: white;
    color: #015936;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
}
.GioHang:hover {
    color: #00bf63;
}
/* Menu */
.menu {
    /* background-color: #e6fff2; */
    background-color: white;
    text-align: center;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 10px 0;
}

.menu a {
    font-size: 18px;
    font-weight: bold;
    color: #015936;
    text-decoration: none;
}

.menu a.active,
.menu a:hover {
    color: #00bf63;
}
/* Ẩn menu con mặc định ở phần sản phẩm*/
.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #00b46b;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    z-index: 999;
}
/* Hiện menu con khi rê chuột vào mục sản phẩm */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
/* Căn dọc các mục trong dropdown */
.dropdown-menu li {
    display: block;
    text-align: left;
    padding: 4px 15px;
}
/* Tùy chỉnh màu item con */
.dropdown-item {
    color: #015936;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s;
}
.dropdown-item:hover {
    background-color: #e6fff2;
    color: #00bf63;
}
/* Xóa mũi tên mặc định của Bootstrap*/
.nav-item.dropdown .dropdown-toggle::after {
    display: none;
}

/* Thiết lập responsive trên thiết bị điện thoại */
@media (max-width: 768px) {
    .header-top {
        flex-direction: column;
        text-align: center;
    }

    .right-box {
        justify-content: center;
    }
}
/* phần nội dung */
/* Banner */
.banner_dau {
    margin-top: 25px;
}
/* Sản phẩm nổi bậc */
/* .sanpham-noibat {
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #007f40;
} */
.SanPhamNoiBac {
    background-color: #fff;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #007f40;
}
.chuspnb {
    background-color: #e2fff2;
    margin-bottom: 30px;
    margin-top: 0px;
    border-radius: 10px;
}
.tieude {
    display: block;
    margin: 1px auto;
    width: 30%;
}
.hang-sp {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card-sanpham {
    width: 220px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.card-sanpham:hover {
    transform: translateY(-5px);
}
.anh-sp {
    width: 90%;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}
.ten-sp {
    margin: 10px 0 5px;
    font-weight: 500;
    color: #222;
}
.gia-sp {
    color: #ff0000;
    font-weight: bold;
    margin-bottom: 10px;
}
.nut-xem {
    display: inline-block;
    background-color: #006633;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 8px;
    font-weight: 500;
    transition: 0.2s;
}
.nut-xem i {
    margin-right: 6px;
}
.nut-xem:hover {
    background-color: #00994c;
}
/* Dụng cụ viết */
/* Vùng chứa */
.dungcuviet {
    text-align: center;
    padding: 30px;
    background: #e2fff2;
    border-radius: 10px;
    margin: 20px auto;
}
/* Tiêu đề */
.dungcuviet .tieude {
    color: #066d38;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
/* Nút Xem tất cả */
.dungcuviet .nut-xemtatca {
    display: inline-block;
    background: #066d38;
    padding: 10px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-top: 25px;
    font-size: 16px;
}
/* Hover nút xem tất cả */
.dungcuviet .nut-xemtatca:hover {
    background: #00a34f;
}
/*VO HOC SINH*/
.vohocsinh {
    text-align: center;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid #066d38;
}
/* Tiêu đề */
.vohocsinh .tieude {
    color: #066d38;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
/* Nút Xem tất cả */
.vohocsinh .nut-xemtatca {
    display: inline-block;
    background: #066d38;
    padding: 10px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-top: 25px;
    font-size: 16px;
}
/* Hover nút xem tất cả */
.vohocsinh .nut-xemtatca:hover {
    background: #00a34f;
}
/*DUNG CU DO, TINH TOAN*/
/* Vùng chứa */
.dungcudotinhtoan {
    text-align: center;
    padding: 30px;
    background: #e2fff2;
    border-radius: 10px;
    margin: 20px 0;
}
/* Tiêu đề */
.dungcudotinhtoan .tieude {
    color: #066d38;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
/* Nút Xem tất cả */
.dungcudotinhtoan .nut-xemtatca {
    display: inline-block;
    background: #066d38;
    padding: 10px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-top: 25px;
    font-size: 16px;
}

/* Hover nút xem tất cả */
.dungcudotinhtoan .nut-xemtatca:hover {
    background: #00a34f;
}
/* HỌA PHẨM*/
.hoapham {
    text-align: center;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid #066d38;
}
/* Tiêu đề */
.hoapham .tieude {
    color: #066d38;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
/* Nút Xem tất cả */
.hoapham .nut-xemtatca {
    display: inline-block;
    background: #066d38;
    padding: 10px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-top: 25px;
    font-size: 16px;
}

/* Hover nút xem tất cả */
.hoapham .nut-xemtatca:hover {
    background: #00a34f;
}
/* BALO*/
/* Vùng chứa */
.balo {
    text-align: center;
    padding: 30px;
    background: #e2fff2;
    border-radius: 10px;
    margin: 20px 0;
}

/* Tiêu đề */
.balo .tieude {
    color: #066d38;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
/* Nút Xem tất cả */
.balo .nut-xemtatca {
    display: inline-block;
    background: #066d38;
    padding: 10px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-top: 25px;
    font-size: 16px;
}

/* Hover nút xem tất cả */
.balo .nut-xemtatca:hover {
    background: #00a34f;
}
/*CÁC SP KHÁC*/
.cacsanphamkhac {
    text-align: center;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid #066d38;
}
/* Tiêu đề */
.cacsanphamkhac .tieude {
    color: #066d38;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
/* Nút Xem tất cả */
.cacsanphamkhac .nut-xemtatca {
    display: inline-block;
    background: #066d38;
    padding: 10px 30px;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    margin-top: 25px;
    font-size: 16px;
}

/* Hover nút xem tất cả */
.cacsanphamkhac .nut-xemtatca:hover {
    background: #00a34f;
}
/* Danh mục sản phẩm ngang */

.category-box .thumb {
    width: auto;
    height: auto;
    border-radius: 0;
    background: none;
}
.category-box img {
    width: 150px;
    height: auto;
}

.category-box:hover img {
    transform: scale(1.12);
}

.category-box:hover .thumb {
    transform: scale(1.05);
}
.category-box {
    text-decoration: none;
    color: #00994e;
}
.category-box:hover {
    text-decoration: none;
    color: #004d26;
}
.dmsp {
    color: #066d38;
}
.khungdmsp {
    margin-top: 20px;
}
.giaohangnhanh {
    margin-top: 10px;
}
/* miễn phí vẫn chuyển, .. */
.banner-box {
    overflow: hidden;
    border-radius: 10px;
}

.banner-img {
    width: auto;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: transform 0.6s ease, translate 0.6s ease;
    transform: scale(1) translateY(0);
}

.banner-box:hover .banner-img {
    transform: scale(1.08) translateY(-10px);
}

/* Phần Footer */
.footer {
    background-color: #e8fff4;
    padding: 30px 80px;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #000;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left h3,
.footer-right h3 {
    color: #004d26;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-left .store-name span {
    color: #00994e;
    font-weight: bold;
}
.store-name {
    color: #00994e;
    font-weight: bold;
}
.footer-left p {
    margin: 5px 0;
    line-height: 1.5;
}

.footer-left i {
    color: #004d26;
    margin-right: 6px;
}

/* Hotline */
.hotline-box-end {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.phone-icon {
    font-size: 26px;
    color: #00a243;
}

.hotline-number {
    color: #00994e;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    margin: 0;
}

.hotline-time {
    font-size: 14px;
    margin: 0;
    margin-top: -2px;
    color: #000;
}

/* Kết nối */
.tt-Ketnoi {
    margin-top: 12px;
    color: #00994e;
    font-weight: bold;
}

.Cac-icon a {
    color: #000;
    font-size: 22px;
    margin-right: 10px;
    transition: 0.2s;
}

.Cac-icon a:hover {
    color: #00994e;
}

/* Dòng bản quyền */
.footer-bottom {
    background-color: #003d26;
    color: white;
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    width: 100%;
}
