/* SIDEBAR */
.sidebar {
    background: #e2fff2;
    min-height: 100vh;
    padding: 0;
    border-right: 2px solid #c8eedd;
}

.logo {
    width: 200px;
}
/* Menu */
.menu-list {
    list-style: none;
    padding-left: 0;
}

.menu-list li {
    display: block;
    padding: 15px 22px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s ease;
    border-left: 4px solid transparent;
}
.menu-list li a {
    color: #045330;
    text-decoration: none;
}

.menu-list li.active,
.menu-list li:hover {
    background: #045330;
    border-left: 4px solid #045330;
    color: #ffffff;
}
.menu-list li.active a,
.menu-list li:hover a {
    color: #ffffff;
}
/* TOPBAR */
.topbar {
    background: #045330;
    padding: 12px 20px;
    border-radius: 12px;
    /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15); */
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 450px;
}

.search-box input {
    width: 100%;
    padding: 11px 45px 11px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.search-box button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 18px;
    color: #045330;
}
/* btn button admin */
.btnadmin {
    color: white;
}
.dropdown-menu {
    padding: 5px;
    text-align: center;
    border: 1px solid #045330;
    color: white;
}
.btnadmin:hover {
    color: rgb(255, 255, 255);
}

.notify-btn {
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: #045330;
    margin-right: 15px;
    transition: 0.25s;
}

.notify-btn:hover {
    background: #ffdd00;
    color: #045330;
}

.stat-card {
    border: 1px solid;
    padding: 22px;
    border-radius: 14px;
    background: #ffffff;
    /* box-shadow: 0 1px 5px rgb(139, 171, 139); */
    transition: 0.3s;
    text-align: center;
    border-color: #045330;
}

.stat-card:hover {
    transform: translateY(-4px);
}

.stat-card h5 {
    color: #045330;
    font-weight: 700;
}

.stat-card .number {
    font-size: 60px;
    font-weight: bold;
    color: #00bf63;
}

.product-box {
    border: 1px solid rgb(0, 79, 0);
    padding: 20px;
    border-radius: 15px;
    background: #ffffff;
    /* box-shadow: 0 3px 10px rgba(92, 85, 85, 0.12); */
}

.product-box h4 {
    color: #046d45;
}

.prod-img {
    width: 55px;
    border-radius: 5px;
}
/* NÚT XEM TẤT CẢ */
.xtc {
    border-radius: 5px;
    margin: 8px 16px;
    font-weight: 600;
    background-color: #045330;
    color: white;
}
.xtc:hover {
    background-color: #ffdd00;
    color: #045330;
}

.table th {
    background: #e8f9f1;
    color: #046d45;
    font-weight: bold;
}

.table td {
    vertical-align: middle;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
/* ben trang admin don hang */
.btnxem {
    background-color: #045330;
    color: #fff;
    font-weight: bold;
}
.btnxem:hover {
    background-color: #027a4c;
    color: #fff;
    font-weight: bold;
}
/* trang admin chi tiet don hang */
.btnquaylai {
    background-color: #004f14;
    color: #fff;
}
.btnquaylai:hover {
    background-color: #00994e;
    color: #fff;
    font-weight: bold;
}
.table-info-kh th {
    width: 160px;
    text-align: left;
    vertical-align: middle;
    background-color: #e2fff2;
}

.table-info-kh td {
    text-align: left;
}
/*  biểu đồ thống kê lược mua */
.chart-wrapper {
    position: relative;
    width: 100%;
    height: 420px;
}

.product-box {
    overflow: hidden;
}

@media (max-width: 992px) {
    .chart-wrapper {
        height: 360px; /* tablet */
    }
}

@media (max-width: 576px) {
    .chart-wrapper {
        height: 280px; /* mobile */
    }
}
