.form-box {
    background: #ffffff;
    border-radius: 12px;
    padding: 30px;
    border: 2px solid rgba(28, 164, 92, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    margin-top: 25px;
}

.form-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #1ca45c;
    background: #e8f9ef;
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 30px;
}

.form-label {
    font-weight: 600;
    margin-bottom: 5px;
    color: #208b54;
}

.form-control {
    border: 2px solid #7ed9a6;
    border-radius: 6px;
    padding: 8px 12px;
}
.form-select {
    border: 2px solid #7ed9a6;
    border-radius: 6px;
    padding: 8px 12px;
}

.img-upload {
    width: 100%;
    height: 60px;
    border: 2px dashed #7ed9a6;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #208b54;
    cursor: pointer;
    transition: 0.25s;
}

.img-upload:hover {
    background: #e7fced;
}

.btn-submit {
    background: #0b8f44;
    color: #fff;
    font-size: 20px;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
}

.btn-submit:hover {
    background: #087c3b;
}
