/* Don hang*/
.btnxemdonhang {
    background-color: #004f14;
    color: #fff;
    font-weight: bold;
}
.btnxemdonhang:hover {
    background-color: #00994e;
    color: #fff;
    font-weight: bold;
}
/* Chi tiet don hang */

.bangchitietdonhang th,
td {
    border: 1px solid #00b75e;
    padding: 8px 12px;
}
.tieudedonhang {
    color: #004f14;
}
.cot-trai {
    width: 1%;
    white-space: nowrap;
}
.btnquaylai {
    background-color: #004f14;
    color: #fff;
}
.btnquaylai:hover {
    background-color: #00994e;
    color: #fff;
    font-weight: bold;
}
