{
    "singleQuote": false,
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 160,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "endOfLine": "auto"
}
